<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.ekkod</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/webapi/*</url-pattern>
    </servlet-mapping>
    
    <filter>
    <display-name>AuthenticationFilter</display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.ekkod.web.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerGiris</display-name>
    <servlet-name>ControllerGiris</servlet-name>
    <servlet-class>com.ekkod.web.controller.ControllerGiris</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerGiris</servlet-name>
    <url-pattern>/ControllerGiris</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerGuncelBilgi</display-name>
    <servlet-name>ControllerGuncelBilgi</servlet-name>
    <servlet-class>com.ekkod.web.controller.ControllerGuncelBilgi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerGuncelBilgi</servlet-name>
    <url-pattern>/ControllerGuncelBilgi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerIpucu</display-name>
    <servlet-name>ControllerIpucu</servlet-name>
    <servlet-class>com.ekkod.web.controller.ControllerIpucu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerIpucu</servlet-name>
    <url-pattern>/ControllerIpucu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerKategori</display-name>
    <servlet-name>ControllerKategori</servlet-name>
    <servlet-class>com.ekkod.web.controller.ControllerKategori</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerKategori</servlet-name>
    <url-pattern>/ControllerKategori</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerTest</display-name>
    <servlet-name>ControllerTest</servlet-name>
    <servlet-class>com.ekkod.web.controller.ControllerTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerTest</servlet-name>
    <url-pattern>/ControllerTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerSoru</display-name>
    <servlet-name>ControllerSoru</servlet-name>
    <servlet-class>com.ekkod.web.controller.ControllerSoru</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerSoru</servlet-name>
    <url-pattern>/ControllerSoru</url-pattern>
  </servlet-mapping>
  
</web-app>
